:root {
    main: #FFB300;

}



* {
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
}

button {
    cursor: pointer;
}

/* Header */
header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.logo img {
    width: 150px;
    margin-left: 80px;
}


nav ul {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}


nav ul li,
.footer ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: gray;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #FFF;
    background-color: #E65100;
    border-radius: 10px;

}

.sign button {
    width: 150px;
    height: 50px;
}

.sign .signin,
.sign .signup {
    background-color: transparent;
    border: 0;
    color: gray;
}

.sign button:hover {
    background-color: #E65100;
    color: #FFF;
    border: 0;
    border-radius: 15px;
}


/* Banner */
.main {
    width: 100%;
    height: 400px;
    background: url("images/banner-head-accueil.jpg") center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #E65100;
    display: flex;
    justify-content: center;
}

.second_banner {
    width: 600px;
    height: 300px;
    position: relative;
}

.second_banner_text p {
    width: 180px;
    height: 25px;
    background-color: gainsboro;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 420px;
}

.second_banner img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.banner_text h1,
.banner_text p {
    color: #FFF;
}



.banner_text span {
    color: rgb(226, 226, 105);
}



/* Stats section */
.stats {
    height: 200px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats_cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 2px rgb(95, 94, 94);
    width: 250px;
    height: 100px;
}


.card h3 {
    font-weight: bolder;
    color: #FFB300;
}


/* Services section */
.services {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}


.services_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services p {
    text-align: center;
}

.services_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.service_card {
    display: flex;
    flex-direction: column;
    background-color: #FFF3E0;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 20px;
    height: 150px;
    width: 300px;
    gap: 5px;
    padding: 7px;
}

.service_card a {
    color: #d5a75d;
}



.yellow_card {
    background-color: blanchedalmond;
}



/*Localisation section*/
.localisation {
    margin-top: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: space-around;
    column-gap: 5px;
    background-color: rgb(204, 155, 82);
}

iframe {
    border-radius: 15px;
}



/*Testimonies section */
.testimonies {
    background-color: #FFF;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.testimonies_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin: 10px;
}

.testimony {
    background-color: #FFF;
    border-radius: 10px;
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 7px 2px rgb(95, 94, 94);
}

.testimony_text {
    color: gray;
}


.author {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.author h5 {
    text-align: center;
}

.icone {
    border-radius: 50%;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}

.name_star p i,
.first_line p i,
.fa-star {
    color: rgba(255, 255, 0, 0.94);
}


.FD {
    background-color: rgb(190, 188, 188);
    border: 2px solid #FFB300;
}

.MD {
    background-color: red;
    border: 2px solid #FFB300;
}

.AB {
    background-color: #FFB300;
    border: 2px solid #FFB300;
}

.OS {
    background-color: greenyellow;
    border: 2px solid #FFB300;
}



/* CTA */
.cta {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background: url("images/banner-head-accueil.jpg") center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #E65100;
}

.cta_btn {
    background-color: #FFF;
    color: #FFB300;
    font-weight: bold;
    width: 250px;
    height: 60px;
    justify-content: center;
    border: 0;
    border-radius: 10px;
}

.cta h2,
.cta p {
    color: #FFF;
    text-align: center;
}

.cta_btn a {
    text-decoration: none;
    color: #E65100;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(1, 1, 18);
    color: #FFF;
    gap: 10px;
    height: 250px;
}


.footer {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.footer p {
    font-weight: bold;
}

.footer ul li {
    color: gray;
}





/* TRAITEURS PAGE */

/* MAIN */
.traiteur_main_content {
    height: 50vh;
    background: url("images/banner-caterers.jpg") center/cover;
    background-color: #E65100;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 350px;
}

.traiteur_main_content h1,
.traiteur_main_content p {
    color: #FFF;
}


/* TRAITEURS SECTION */
.traiteurs_section {
    background-color: #FFF3E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.filters {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2%;
    width: 80%;

}


.filter_btn {
    width: 30%;
    text-align: right;
}

.btn {
    background-color: #E65100;
    border: 0;
    border-radius: 10px;
    height: 40px;
    width: 120px;
}

.btn1 {
    background-color: #E65100;
    color: white;
}

.filter_btn .btn2 {
    background-color: white;
}

.filter select {
    background-color: white;
    border-radius: 10px;
    width: 180px;
    height: 40px;
}

.filter p {
    color: rgb(50, 49, 49);
}


.traiteurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 80%;
    padding: 50px;
}


.traiteurs img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}



.traiteur {
    display: flex;
    background-color: #FFF;
    border-radius: 15px;
}

.traiteur_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    padding: 5px;
}


.first_line {
    display: flex;
    justify-content: space-between;
}

.first_line h3 {
    width: 500px;
}

.first_line h3 i {
    font-size: 10px;
}

.specialite {
    display: flex;
    gap: 4px;
}

.specialite p {
    background-color: gainsboro;
    border-radius: 15px;
    width: 80px;
    text-align: center;
}

.last_line {
    display: flex;
    justify-content: space-between;
}

.last_line button {
    background-color: black;
    border: 0;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    text-align: center;
    color: white;
}


/* CONTACT PAGE */
.form_content {
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    align-items: flex-end;
    padding-bottom: 5%;
    box-shadow: 2px 2px 2px 2px rgba(90, 88, 88, 0.029);


}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #FFF;
    gap: 19px;
    padding: 5% 15% 5% 0;
}

.form {
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

}


.form input,
textarea,
#categorie select {
    border-radius: 5px;
}

.form input:focus,
textarea:focus {
    background-color: lightskyblue;
}

.basic_infos,
.infos_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.infos_pro {
    display: grid;
    grid-template-columns: 2fr;
}



.services_traiteur_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.services_traiteur_1 {
    display: flex;
    flex-direction: column;
}


.services_traiteur_2 {
    display: flex;
    flex-direction: column;
}


.traiteur_card {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(90, 88, 88, 0.029);
}

.submit_btn .btn {
    margin-left: 80%;
    cursor: pointer;
}

.submit_btn .btn:hover {
    cursor: pointer;
    transform: rotate(5deg) scale(1.1);
}

.photo button {
    background-color: hsl(37, 59%, 60%);
    color: #E65100;
    text-align: center;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    width: 150px;
}


/*DETAILS PAGE*/

.detail_main {
    background-color: #f5f5dc;
    padding: 2%;
}


.banner {
    background: url("images/traiteur1_pic.webp") center/cover;
    border-radius: 10px;
    position: relative;
    height: 40vh;
}

.badge {
    position: absolute;
    bottom: 10px;
    left: 8px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.fa-check {
    background-color: green;
    color: gray;
    border-radius: 50%;
}

.contact_detail a {
    text-decoration: none;
    color: #000;
}

.detail_card {
    background-color: #FFF;
    box-shadow: 2px 2px 2px 1px rgba(90, 88, 88, 0.029);
    padding: 4%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 30vh;
}

.details {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2%;
    margin-top: 20px;
    height: 100vh;
}

.details_content_1 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 48%;
}

.detail_content_2 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 58%;
}

.services_detail {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
}


.services_detail ul li {
    list-style: none;
}

.services_detail .fa-check {
    background-color: transparent;
    color: green;
}

.btn_ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.btn_contact {
    width: 95%;
    height: 70%;
    background-color: blue;
    border-radius: 10px;
    border: 0;
    color: #FFF;
    font-weight: bold;
}

.btn_ i {
    color: #FFF;
}


/* LOGIN PAGE */
.login {
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login form {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(90, 88, 88, 0.029);
    height: 55vh;
    width: 35%;
    align-items: center;
    padding: 1.5%;
}


form h1 {
    text-align: center;
}

.credentials {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding: 0;
}

.email_login,
.mdp_login {
    display: flex;
    flex-direction: column;
    height: 25%;
}

.email_login input,
.mdp_login input {
    height: 48%;
    border-radius: 5px;
    border-color: rgb(156, 152, 152);
}

.email_login label,
.mdp_login label {
    height: 35%;
    padding-bottom: 10px;
}


.credentials_bottom {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.credentials a {
    color: #E65100;
}

.credentials input[type="submit"] {
    height: 15%;
    color: #FFF;
    background-color: #E65100;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 20px;
    cursor: pointer;
}



/* DASHBOARD PAGE */

.dashboard_page{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    background-color: rgb(247, 243, 243);
}

.dashboard{
    background-color: #E65100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 80%;
}

.dashboard img{
   width: 70%;
}

.dashboard nav ul{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.dash_bottom{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 15%;
    padding-bottom: 20px;
}

.dash_bottom ul li{
    padding-bottom: 20px;
}

.dashboard ul li a{
    text-decoration: none;
    color: #000;
}

.dashboard_main_content{
    margin: 1%;
}



.header_btn{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}

.add_resto_btn{
    color: white;
    width: 20%;
}

.dash_resto_card{
    height: 100%;
    padding: 0;
    margin: 0;
}

.search_bar{
    background-color: #FFF;
    padding: 2%;

}

.filter_section {
    display: flex;
    justify-content: space-between;
}

.filter_section select{
    width: 80%;
    border-radius: 5px;
}

table{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border-spacing: 0;
}



th{
    background-color: rgb(247, 243, 243);
}



.resto_name{
    width: 20%;
}

.resto_email{
    width: 8%;
}

.zone{
    width: 15%;
}

.status{
    width: 10%;
}

.actions{
    width: 20%;
}

td{
background-color: #FFF;
height: 15% ;
}

.table_btn{
    width: 20%;
}


.dash_card{
    box-shadow: 2px 2px 2px 1px rgba(90, 88, 88, 0.029);
    border-radius: 7px;
}


.status_btn{
    border-radius: 5px;
}

.pending_btn{
    background-color: rgb(236, 233, 105);
    color: brown;
    font-weight: bold;
}

.verified_btn{
    background-color: greenyellow;
    color: green;
    font-weight: bold;
}

td img{
    width: 45px;
    border-radius: 50%;
}


.edit_btn{
    color: blue;
    font-weight: bold;
    background-color: transparent;
    border: 0;
}


.delete_btn{
    color: red;
    font-weight: bold;
    background-color: transparent;
    border: 0;
}