:root{
    main: #FFB300;

}



*{
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
}

button{
    cursor: pointer;
}

/* Header */
header{
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.logo img{
    width: 150px;
    margin-left: 80px;
}


nav ul{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

nav ul li, .footer ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: gray;
}

nav ul li a:hover{
    color: #E65100;
    text-decoration: underline solid #E65100 ;
}

.sign button{
    width: 150px;
    height: 50px;
}

.sign .signin{
    background-color: transparent;
    border: 0;
    color: gray;

}

.sign .signup{
    background-color: #E65100;
    color: #FFF;
    border: 0;
    border-radius: 15px;
}


/* Banner */
.main{
    width: 100%;
    height: 400px;
    background: url("images/banner-head-accueil.jpg") center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #E65100;
    display: flex;
    justify-content: center;
}

.second_banner{
    width: 600px ;
    height: 300px;
    position: relative;
}

.second_banner_text p{
    width: 180px ;
    height: 25px;
    background-color: gainsboro;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 420px;
}

.second_banner img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    object-position: center;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.banner_text h1, .banner_text p{
    color: #FFF;
}



.banner_text span{
    color: rgb(226, 226, 105);
}



/* Stats section */
.stats{
    height: 200px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats_cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 2px rgb(95, 94, 94);
    width: 250px;
    height: 100px;
}


.card h3{
    font-weight: bolder;
    color: #FFB300;
}


/* Services section */
.services{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}


.services_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services p{
    text-align: center;
}

.services_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.service_card{
    display: flex;
    flex-direction: column;
    background-color: #FFF3E0;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 20px;
    height: 150px;
    width: 300px;
    gap: 5px;
    padding: 7px;
}

.service_card a{
    color: #d5a75d;
}



.yellow_card{
    background-color: blanchedalmond;
}



/*Localisation section*/
.localisation{
    margin-top: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: space-around; 
    column-gap: 5px;
    background-color: rgb(204, 155, 82);
}

iframe{
    border-radius: 15px;
}



/*Testimonies section */
.testimonies{
    background-color: #FFF;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.testimonies_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin: 10px;
}

.testimony{
    background-color: #FFF;
    border-radius: 10px;
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 7px 2px rgb(95, 94, 94);
}

.testimony_text{
    color: gray;
}


.author{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.author h5{
    text-align: center;
}

.icone{
    border-radius: 50%;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}
.name_star p i, .first_line p i{
    color: rgba(255, 255, 0, 0.94);
}


.FD{
    background-color: rgb(190, 188, 188);
    border: 2px solid #FFB300;
}

.MD{
    background-color: red;
    border: 2px solid #FFB300;
}

.AB{
    background-color: #FFB300;
    border: 2px solid #FFB300;
}
.OS{
    background-color: greenyellow;
    border: 2px solid #FFB300;
}



/* CTA */
.cta{
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background: url("images/banner-head-accueil.jpg") center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #E65100;
}

.cta_btn{
    background-color: #FFF;
    color: #FFB300;
    font-weight: bold;
    width: 250px;
    height: 60px;
    justify-content: center;
    border: 0;
    border-radius: 10px;
}

.cta h2, .cta p{
    color: #FFF;
    text-align: center;
}

.cta_btn a{
text-decoration: none;
    color: #E65100;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(1, 1, 18);
    color: #FFF;
    gap: 10px;
    height: 250px;
}


.footer{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.footer p{
    font-weight: bold;
}

.footer ul li{
    color: gray;
}





/* TRAITEURS PAGE */

/* MAIN */
.traiteur_main_content{
    height: 50vh;
    background: url("images/banner-caterers.jpg") center/cover ;
    background-color: #E65100;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 350px;
}

.traiteur_main_content h1, .traiteur_main_content p{
    color: #FFF;
}


/* TRAITEURS SECTION */
.traiteurs_section{
    background-color: #FFF3E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.filters{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2%;
    width: 80%;

}


.filter_btn{
    width: 30%;
    text-align: right;
}

.btn{
    background-color: #E65100;
    border: 0;
    border-radius: 10px;
    height: 40px;
    width: 120px;
}

.btn1{
    background-color: #E65100;
    color: white;
}

.filter_btn .btn2{
    background-color: white;
}

.filter select{
    background-color: white;
    border-radius: 10px;
    width: 180px;
    height: 40px;
}

.filter p{
    color: rgb(50, 49, 49);
}


.traiteurs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 80%;
    padding: 50px;
}


.traiteurs img{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}



.traiteur{
    display: flex;
    background-color: #FFF;
    border-radius: 15px;
}

.traiteur_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    padding: 5px;
}


.first_line{
    display: flex;
    justify-content: space-between;
}

.first_line h3 {
    width: 500px;
}

.first_line h3 i {
    font-size: 10px;
}

.specialite{
    display: flex;
    gap: 4px;
}

.specialite p{
    background-color: gainsboro;
    border-radius: 15px;
    width: 80px;
    text-align: center;
}

.last_line{
    display: flex;
    justify-content: space-between;
}

.last_line button{
    background-color: black;
    border: 0;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    text-align: center;
    color: white;
}


/* CONTACT PAGE */
.form_content{
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    align-items: flex-end;
    padding-bottom: 5%;
    box-shadow: 0px 0px 7px 2px rgb(95, 94, 94);


}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #FFF;
    gap: 19px;
    padding: 5% 15% 5% 0 ;
}

.form{
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    
}

.basic_infos, .infos_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.infos_pro{
    display: grid;
    grid-template-columns: 2fr;
}



.services_traiteur_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.services_traiteur_1{
    display: flex;
    flex-direction: column;
}


.services_traiteur_2{
    display: flex;
    flex-direction: column;
}


.traiteur_card{
    box-shadow: 0px 0px 3px 2px rgb(95, 94, 94);
    padding: 10px;
    border-radius: 15px;
}

input #file-upload-button{
    background-color: #d5a75d;
    color: #E65100;
    text-align: center;
}